@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

.main-menu > li > a{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.txt_product_name{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}
.ltext-102{
    font-family: 'sans-serif';
    text-transform: uppercase;
}
.ltext-103{
    font-family: 'Libre Bodoni', serif;
    text-transform: uppercase;
}
.ltext-201{
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
}
.stext-105{
    font-size: 17px;
}
.show-img-product{
    width: 285px;
    height: 285px;
    object-fit: contain;
}


